.doft_img
{
	width: 30%;
	margin-left: 10px;
}
.body_class
{
	width: 65em;
	margin: auto;
}

.header_box
{
	position: relative;
	background-color: #8F8F8F;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;
}

.loupe_des
{
	position: absolute;
	right: 1.5em;
	top: 1.5em;	
	width: 10%;
}

#reload
{
	position: absolute;
	right: .5em;
	top: .5em;
	width: 15px;
}

#quit
{
	position: absolute;
	right: .5em;
	bottom: .5em;
	width: 15px;
}

.aside
{
	margin-top: 1em;
	padding-top: 1em;
	/*padding-bottom: 1em;*/
	width: 7em;
	height: 470px;
	background-color: #8F8F8F;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;
	display: flex;
	flex-direction: column;
}

#art
{
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	width: 820px;
	height: 470px;
	background-color: #8F8F8F;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;
}

.sect_class
{
	display: flex;
	flex-direction: row;
}

#img_clust
{
	width: 50em;
	margin-left: 10px;
	margin-top: 10px;
}

#arrow
{
	margin-bottom: 1em;
	width: 4em;
}

#main
{
	margin-bottom: 1em;
	width: 4em;
}

#oeil
{
	margin-bottom: 1em;
	width: 4em;
	border: 3px red;
	border-radius: 10px;
}

#outil
{
	margin-bottom: 1em;
	width: 4em;
}

#chat-icon
{
	margin-bottom: 1em;
	width: 4em;
}